df-messenger {
  --df-messenger-button-titlebar-color: #0072F0;
  --df-messenger-chat-background-color: #F1F4F8;
  --df-messenger-input-box-color: #DEEEFF;
  --df-messenger-input-font-color: #6B6B6B;
  font-family: 'Nunito', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background-color: #D5E4F4;
  font-family: 'Nunito', sans-serif;
}

.intake{
  position: relative;
  width: 650px;
  height: 460px;
  margin: 50px 100px 100px 50px;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.title{
  position: relative;
  text-align: center;
  top: 10px;
  color: #0072F0;
}

.intake .intake-container{
  position: relative;
  display: grid;
  grid-template-columns: 150px 300px;
  width: 625px;
  height: 375px;
  top: 5px;
  left: 12.5px;
}

.patient-name, .age, .CC {
  position: relative;
  left: 40px;
  color: #55A6FF;
}

.actual-name, .actual-age, .actual-CC {
  position: relative;
  left: 50px;
  width: 370px;
  padding: 5px;
  background-color:#e8eff6;
  border-radius: 10px;
  font-family: 'Kalam', cursive;
}




